<%- include('header') %>


            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            
                           
                            <div class="col-lg-6">
                                <% if(locals.flash.success.length >0 && locals.flash.success){ %>
                                    <div class="alert alert-success"><%= locals.flash.success %></div>
                                <% } %>
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Add Admin</strong> 
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="/admin/insertAdminData" method="post" enctype="multipart/form-data" class="form-horizontal">
                                           
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Enter first name</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="text-input" name="fname" placeholder="enter first name" class="form-control">
                                                    
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Enter Last name</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="text-input" name="lname" placeholder="enter last name" class="form-control">
                                                    
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="email-input" class=" form-control-label">Enter Email </label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="email" id="email-input" name="email" placeholder="Enter Email" class="form-control">
                                                    
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="password-input" class=" form-control-label">Password</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="password" id="password-input" name="password" placeholder="Password" class="form-control">
                                                    
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">select gender</label>
                                                </div>
                                                <div class="col col-md-9">
                                                    <div class="form-check-inline form-check">
                                                        <label for="inline-radio1" class="form-check-label ">
                                                            <input type="radio" id="inline-radio1" name="gender" value="male" class="form-check-input">Male
                                                        </label>
                                                        <label for="inline-radio2" class="form-check-label ">
                                                            <input type="radio" id="inline-radio2" name="gender" value="female" class="form-check-input">Female
                                                        </label>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                           


                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">select Hobby</label>
                                                </div>
                                                <div class="col col-md-9">
                                                    <div class="form-check-inline form-check">
                                                        <label for="inline-checkbox1" class="form-check-label ">
                                                            <input type="checkbox" id="inline-checkbox1" name="hobby" value="Reading" class="form-check-input">Reading
                                                        </label>
                                                        <label for="inline-checkbox2" class="form-check-label ">
                                                            <input type="checkbox" id="inline-checkbox2" name="hobby" value="Cycling" class="form-check-input">Cycling
                                                        </label>
                                                        <label for="inline-checkbox3" class="form-check-label ">
                                                            <input type="checkbox" id="inline-checkbox3" name="hobby" value="Adventure" class="form-check-input">Adventure
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>



                                            <% var city = ['Surat',"Rajkot","Vadodara","Navasari"] %>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="select" class=" form-control-label">Select City</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select name="city" id="select" class="form-control">
                                                        <option value="0">--select city--</option>
                                                        <% city.map((v,i)=>{ %>
                                                            <option value="<%= v %>"><%= v %></option>
                                                        <% }) %>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            
                                           
                                           
                                            

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="textarea-input" class=" form-control-label">Textarea</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <textarea name="message" id="textarea-input" rows="4" placeholder="Messages..." class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="file-input" class=" form-control-label">upload Image</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="file" id="file-input" name="image" class="form-control-file">
                                                </div>
                                            </div>

                                        
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" name="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-dot-circle-o"></i> Submit
                                        </button>
                                        <button type="reset" class="btn btn-danger btn-sm">
                                            <i class="fa fa-ban"></i> Reset
                                        </button>
                                    </div>
                                </div>
                            </form>
                              
                            </div>
                            
                            
                           
                           
                        </div>
                       

<%- include('footer') %>