<%- include('header') %>


            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive table--no-card m-b-30">
                                    <img src="<%= locals.admins.image %>" height="200" width="200"/>
                                    <a href="/admin/updateAdminRecord/?adminId=<%= locals.admins.id %>" class="btn btn-success">Edit Profile</a>
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th>Keys</th>
                                                <th>Values</th>
                                                
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            <tr>
                                                <td>Name</td>
                                                <td><%= locals.admins.name %></td>
                                            </tr>

                                            <tr>
                                                <td>Email</td>
                                                <td><%= locals.admins.email %></td>
                                            </tr>
                                         
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                        </div>
                      
                      
                      
                       
<%- include('footer') %>

